body{
  background-image: url("rio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body{
  color: rgb(18, 1, 1); 
  background-color: #333; 
  text-align:left;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Background color for the navbar */
    overflow: hidden;
}

li.nav-item {
    float: left;
}

li.nav-item a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration-line:none;
}

.nav-item a:active {
  background-color: #555; 
}

li.nav-item a:hover {
    background-color: #555;
}

.rightheader {
  list-style-type:none;
}

li.nav-item-right {
  float: right;
}

li.nav-item-right a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration-line:none;
}

.nav-item-right a:hover{
  background-color:#555;
} 
